<nav class="nav-bar">
    <ul class="links">
        <li class="logo">
            <a href="/">
                Web application
            </a>
        </li>
        <li class="github">
            <a href="https://github.com/YerkoFC" target="_blank">Github<i class="fab fa-github"></i> </a>
        </li>
    </ul>
</nav>